
{{block name="contents"}}

<h3>コンテンツ一覧</h3>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Webツール</h4></div>
  <div class="panel-body">
    <ul class="list-group">
      <a href="./game/niconama" class="list-group-item">
        <span class="list-group-item-heading"><h3>ニコ生自動次枠移動機</h3></span>
        <p class="list-group-item-text">設定したコミュニティにて新しく放送されると、自動で新しいタブで放送を開いてくれるよ！</p>
      </a>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4>ゲームコンテンツ</h4></div>
  <div class="panel-body">
    <ul class="list-group">
      <a href="./game/SurvivalShooter" class="list-group-item">
        <span class="list-group-item-heading"><h3>サバイバルシューター</h3></span>
        <p class="list-group-item-text">Unityのチュートリアルのサバイバルシューター(ショットガン版)です、そのうち他の機能も追加したいですね</p>
      </a>
      <a href="./game/backGroundRPG" class="list-group-item">
        <span class="list-group-item-heading"><h3>BackGroundRPG</h3></span>
        <p class="list-group-item-text">普段は背景用なのですけどもしかしたら変化があるかも？</p>
      </a>
    </ul>
  </div>
</div>

{{/block}}

