
{{block name="contents"}}

<h4>最近の雑記一覧</h4>

<div class="row">
  <div class="col-md-9">
    <div class="list-group">
      {{foreach $blogList as $blog}}
      <a href="./blog/{{$blog['datetime']}}" class="list-group-item">
        <span class="text-left noback">{{$blog['title']}}</span>
        <span class="pull-right noback"><span class="badge noback">{{$blog['comment_count']}}</span>:{{$blog['datetime']}}</span>
      </a>
      {{/foreach}}
    </div>
  </div>

  <div class="col-md-3">
    
  </div>
</div>

{{/block}}

